.navbar {
  display: flex;
  justify-content: space-cente;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  position: absolute;
  top: 10;
  left: 10;
}

.logo {
  height: 45px;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchInput {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 10px;
  color: #aaa;
}

.cartContainer {
  flex: 1;
  display: flex;
}

.cartIcon {
  font-size: 23px;
  cursor: pointer;
}

.profileContainer {
  justify-content: flex-end;
}

.profileIcon {
  font-size: 23px;
  cursor: pointer;
}
